body{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(158,0,255,1) 35%, rgba(0,212,255,1) 100%);
    text-align: center;
    font-style: 'WindSong'
}

.profile{
    width: 500px;
    margin-bottom: 50px;
}
